.badge-info{
  position: absolute;
  top: 32px;
  left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.badge-time {
  left: auto;
  right: 32px;
}
.badge-info__text{
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  text-wrap: nowrap;
  padding: 8px;
  font-size: var(--font-size-14);
  font-family: var(--font-family-600);
  line-height: var(--lh-20);
  color: #ffffff;
}
.badge-time .badge-yellow {
  background-color: var(--color-yellow);
  color: var(--color-black);
}
.badge-time .badge-grey {
  background-color: var(--color-grey);
  color: #ffffff;
}