.header {
  width: 100%;
  min-height: 72px;
  background: var(--yellow-color);
  transition: all var(--transition-duration) ease;
}
header a {
  font-family: var(--font-family-600);
  line-height: var(--lh-24);
  color: var(--color-text);
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  height: 80px;
}
.header__logo img {
  filter: brightness(0);
}
.header__contact {
  align-items: flex-end;
}
.header__number {
  font-size: 1.125rem;
  transition: opacity var(--transition-duration) ease;
}
.header__number:hover {
  opacity: 0.7;
}
.header__label {
  font-family: var(--font-family-400);
  font-size: var(--font-size-12);
  line-height: var(--lh-16);
  color: var(--color-text);
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.nav__list-link {
  transition: all var(--transition-duration) linear;
}

.nav__list-link:hover {
  color: rgb(0, 0, 0);
}
.header__toolbar {
  display: flex;
  column-gap: 64px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toolbar__controls {
  display: flex;
  align-items: center;
}
.toolbar__controls-btn {
  padding: 10px 14px;
  background-color: transparent;
  border: 3px solid var(--color-black);
  transition: var(--transition-duration) ease;
}
.toolbar__controls-btn:first-child svg path {
  fill: black;
}
.toolbar__controls-btn:first-child {
  margin-right: 16px;
}
.toolbar__controls-btn:last-child {
  background-color: black;
}
.toolbar__controls-btn:last-child svg path {
  fill: white;
}

.toolbar__controls-btn:first-child:hover {
  background-color: black;
}
.toolbar__controls-btn:first-child:hover svg path {
  fill: white;
}
.toolbar__controls-btn:last-child:hover {
  background-color: white;
  border-color: white;
}
.toolbar__controls-btn:last-child:hover svg path {
  fill: black;
}
