@import url("../components/container.css");
@import url("../components/logo.css");
@import url("../components/contact.css");
@import url("../components/toolbar.css");
.header {
  background: var(--yellow-color);
  width: 100%;
  min-height: 72px;
}
header a {
  line-height: var(--lh-24);
  font-family: var(--font-family-600);
  color: var(--color-text);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  column-gap: 16px;
}
.header__logo img {
  filter: brightness(0);
}
.header__contact {
  align-items: flex-end;
}
.header__number {
  font-size: 1.125rem;  
  transition: opacity var(--transition-duration) ease;
}
.header__number:hover {
  opacity: 0.7;
}
.header__label {
  font-family: var(--font-family-400);
  color: var(--color-text);
  font-size: var(--font-size-12);
  line-height: var(--lh-16);
}

.nav__list {
  column-gap: 24px;
  display: flex;
  align-items: center;
}

.nav__list-link {
  transition: all var(--transition-duration) linear;
}

.nav__list-link:hover {
  color: rgb(0, 0, 0);
}
.header__toolbar {
  display: flex;
  column-gap: 64px;
}

