.section {
  display: grid;
  row-gap: 32px;
  padding-block: 32px;
}
.section__title {
  font-size: var(--font-size-40);
  line-height: 1.23;
  color: var(--color-black);
}
.grid {
  display: grid;
  column-gap: 32px;
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: var(--z-index-overlay);
  background: var(--overlay-color);
  border-radius: var(--radius-large);
  transition: all var(--transition-duration) linear;
}
.overlay:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.name {
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: var(--z-index-overlay);
  font-family: var(--font-family-600);
  font-size: var(--font-size-24);
  line-height: var(--lh-32);
  color: #ffffff;
}
.big-item__name {
  bottom: 32px;
  left: 32px;
  font-size: var(--font-size-32);
  line-height: var(--lh-40);
  text-wrap: balance;
}
.item__button {
  width: 100%;
  height: 56px;
  padding-inline: 24px;
  font-family: var(--font-family-600);
  font-size: var(--font-size-18);
  line-height: var(--lh-24);
  color: var(--color-black);
  background-color: var(--bg-color-btn);
  transition: background-color var(--transition-duration) ease;
}

.item__button:hover {
  background-color: #e8e8e8;
}

.about-us {
  padding-bottom: 64px;
}
/* 2 cols */
.item {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 304px;
}
.height--min {
  max-height: none;
  min-height: 304px;
}
.item__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-large);
}
.item__image img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-large);
}
.item__composition {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: var(--z-index-overlay);
  width: 36px;
  height: 36px;
  padding: 8px;
  border-radius: var(--radius-middle);
}
.item__composition[class*="second"] {
  right: 52px;
}
.item__composition.flower {
  background-color: #1daa0f;
}
.item__composition.fish {
  background-color: #0094e4;
}
.item__composition.papper {
  background-color: #fc7d04;
}

.item__description {
  display: grid;
  row-gap: 4px;
  padding-block: 16px;
}
.item__title {
  color: var(--color-black);
  font-family: var(--font-family-600);
  font-size: var(--font-size-18);
  line-height: 1.2;
}
.item__text {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--color-text);
  font-family: var(--font-family-400);
  font-size: var(--font-size-16);
  line-height: var(--lh-24);
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 2 items */
.big-item {
  position: relative;
  width: 640px;
  height: 360px;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-large);
}
#stocks .big-item:first-child {
  background-image: image-set(
    url("../../images/stocks/stocks-1.webp") type("image/webp"),
    url("../../images/stocks/stocks-1.jpg") type("image/jpeg")
  );
}

#stocks .big-item:last-child {
  background-image: image-set(
    url("../../images/stocks/stocks-2.webp") type("image/webp"),
    url("../../images/stocks/stocks-2.jpg") type("image/jpeg")
  );
}
.big-item__link {
  position: absolute;
  inset: 0;
  z-index: var(--z-index-overlay);
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  border-radius: var(--radius-large);
}
.big-item__name {
  bottom: 32px;
  left: 32px;
  font-size: var(--font-size-32);
  line-height: var(--lh-40);
  text-wrap: balance;
}

#events .big-item:first-child {
  background-image: image-set(
    url("../../images/events/events-1.webp") type("image/webp"),
    url("../../images/events/events-1.jpg") type("image/jpeg")
  );
}
#events .big-item:last-child {
  background-image: image-set(
    url("../../images/events/events-2.webp") type("image/webp"),
    url("../../images/events/events-2.jpg") type("image/jpeg")
  );
}
.events__button {
  width: 100%;
  height: 56px;
  padding-inline: 24px;
  font-family: var(--font-family-600);
  font-size: var(--font-size-18);
  line-height: var(--lh-24);
  color: var(--color-black);
  background-color: inherit;
  border: 3px solid var(--color-black);
  transition: var(--transition-duration) ease;
}
.events__button:hover {
  color: white;
  background-color: black;
}
#about-us .big-item:first-child {
  background-image: image-set(
    url("../../images/about-us/about-us-1.webp") type("image/webp"),
    url("../../images/about-us/about-us-1.jpg") type("image/jpeg")
  );
}
#about-us .big-item:last-child {
  background-image: image-set(
    url("../../images/about-us/about-us-2.webp") type("image/webp"),
    url("../../images/about-us/about-us-2.jpg") type("image/jpeg")
  );
}

.badge-info {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: var(--z-index-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
.badge-time {
  left: auto;
  right: 32px;
}
.badge-info__text {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: var(--radius-middle);
  font-size: var(--font-size-14);
  font-family: var(--font-family-600);
  line-height: var(--lh-20);
  color: #ffffff;
  text-wrap: nowrap;
}
.badge-time .badge-yellow {
  color: var(--color-black);
  background-color: var(--color-yellow);
}
.badge-time .badge-grey {
  color: #ffffff;
  background-color: var(--color-grey);
}
