@import url("badges/events_info.css");
@import url("button.css");

/* 2 items */
.big-item {
  width: 640px;
  height: 360px;
  position: relative;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
}
.stocks .big-item:first-child{
  background-image: url('../../images/stocks/stocks-1.webp'), url('../../images/stocks/stocks-1.jpg');
}

.stocks .big-item:last-child {
  background-image: url('../../images/stocks/stocks-2.webp'), url('../../images/stocks/stocks-2.jpg');
}
.big-item__link{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}
.big-item__name{
  bottom: 32px;
  left: 32px; 
  text-wrap: balance;
  font-size: var(--font-size-32);
  line-height: var(--lh-40);
}

.events .big-item:first-child{
  background-image: url('../../images/events/events-1.webp'), url('../../images/events/events-1.jpg');
}
.events .big-item:last-child {
  background-image: url('../../images/events/events-2.webp'), url('../../images/events/events-2.jpg');
}
.events__button {
  width: 100%;
  height: 56px;
  padding-inline: 24px;
  color: var(--color-black);
  font-family: var(--font-family-600);
  font-size: var(--font-size-18);
  line-height: var(--lh-24);
  border: 3px solid var(--color-black);
  background-color: inherit;
}
.about-us .big-item:first-child{
  background-image: url('../../images/about-us/about-us-1.webp'), url('../../images/about-us/about-us-1.jpg');
}
.about-us .big-item:last-child {
  background-image: url('../../images/about-us/about-us-2.webp'), url('../../images/about-us/about-us-2.jpg');
}