.store {
  display: flex;
  column-gap: 8px;
}
.store__link {
  position: relative;
}
.store__link span {
  position: absolute;
  top: 6px;
  left: 44px;
  font-size: 9px;
  color: var(--color-footer-text);
}