:root {
  --z-index-base: 0;
  --z-index-overlay: 1000;
  --font-family-400: "Inter-regular", sans-serif;
  --font-family-600: "Inter-semibold", sans-serif;
  --font-size-40: 2.5rem;
  --font-size-32: 2rem;
  --font-size-24: 1.5rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-12: 0.75rem;
  --lh-48: 3rem;
  --lh-40: 2.5rem;
  --lh-32: 2rem;
  --lh-24: 1.5rem;
  --lh-20: 1.25rem;
  --lh-16: 1rem;
  --color-yellow: #fedd2c;
  --color-black: #1c1c1c;
  --color-text: #555555;
  --color-grey: #727272;
  --color-social: #393939;
  --color-footer-text: #a6a6a6;
  --yellow-color: linear-gradient(90deg, #fedd2c 0%, #f9c201 100%);
  --overlay-color: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  --bgc-color: #fffbe6;
  --bg-color-btn: #f4f4f4;
  --radius-small: 4px;
  --radius-middle: 8px;
  --radius-large: 16px;
  --transition-duration: 0.2s;
}
