body {
    background-color: #ffffff;
    font-family: var(--font-family-400);
}
.container {
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 64px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1, h2 {
    font-family: var(--font-family-600);
}
