@import "./card.css";
.overlay {  
    border-radius: 16px;
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    transition: all var(--transition-duration) linear;
    z-index: 2;
}
.overlay:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    padding-inline: 24px;
    /* border: none; */
    border-radius: 16px;
    /* background-color: var(--bg-color-btn); */
    cursor: pointer;
    color: var(--color-black);
    font-family: var(--font-family-600);
    font-size: var(--font-size-18);
    line-height: var(--lh-24);
}
.section {
    display: grid;
    row-gap: 38px;
    padding-block: 33px;
}
.section__title {
    color: var(--color-black);
    font-size: var(--font-size-40);
}
.grid {
    display: grid;
    column-gap: 32px;
}
.four-items {
    grid-template-columns: repeat(4, 1fr);
}
.two-items{
    grid-template-columns: repeat(2, 1fr);
}